body {
    margin-top: 100px;
}

.item .item-icon {
    transition: transform .2s, opacity .2s;
    transform: rotateX(-90deg) translate(0px, 10px);
    opacity: 0;
}
.item:hover .item-icon, .item.item--processing .item-icon {
    transform: rotateX(0deg) translate(0, 0);
    opacity: 1;
}
.item {
    position: relative;
}
.item-icon {
    position: absolute;
    right: 15px;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#basket .item-desc {
    margin-right: 20px;
}

#basket .item-quantity {
    width: 40px;
    display: inline-block;
    text-align: center;
}

#basket .item-img {
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: bottom;
    margin-right: 8px;
}
